input, textarea, select {
	margin: 15px;
}

.wrap {
	min-height: 70vh;
}


.removeFile {
	width: min-content;
}

 .form-3de {
	margin-bottom: 100px;
	display: flex;

	input[type="email"],
	input[type="password"],
	input[type="text"] {
		width: 40%;
	}
	.textWrap {
		display: flex;
		justify-content: center;
		font-size: 15pt;
	}

	.emailDiv {
		display: flex;
		justify-content: center;
		font-size: 15pt;
	}

	textarea {
		display: flex;
		justify-content: center;
		font-size: 15pt;
	}

	label {
		font-size: 20pt;
		font-weight: bold;
	}
}

.extraButton {
	margin-bottom: 15px;
}


/* Code used from [https://w3collective.com/preview-selected-img-file-input-js/]
Complete source in *README*
*/


.imageSelector, .videoSelector, .documentSelector {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;


     input {
        background-color: var(--bg-shift-secondary);
		border: 5px solid black;
		border-radius: 10px;
		color: black;
		font-size: 14px;
		padding: 10px;
		text-decoration: none;
		width: 40%;
		transition:
		transform 0.1s,
		box-shadow 0.1s;
		align-self: center;
    }

    label {
        font-size: 20pt;
		font-weight: bold;
    }

    #img-preview {
    display: none;   
    border: 10px double var(--bg-shift-alt);
    margin: 30px;
    }

    #img-preview img {  
    width: 100%;
    height: auto; 
    display: block;   
    }

    #selfie-preview {
    display: none;   
    border: 10px double var(--bg-shift-alt);
    margin: 30px;
    }

    #selfie-preview img {  
    width: 100%;
    height: auto; 
    display: block;   
    }

    input[type="file"]::file-selector-button {
        background-color: var(--bg-shift-alt);
        border-radius: 10px;
        border: 5px solid black;
    }
}
