@import url("../../../css/cssComponents/form.css");

.section {
	margin: 0;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;

	textarea {
		display: flex;
		justify-content: center;
		font-size: 16px;
	}
}

.part {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: var(--bg-shift-secondary);
	border: 5px solid black;
	border-radius: 10px;
	text-align: start;

	h3,
	span,
	label {
		color: var(--txt-shift-secondary);
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	small {
		margin: 0;
	}
}

.subtext {
	font-size: 14px;
}

.addPerson {
	height: 30px;
	width: 30px;
	position: relative;

	.line {
		position: absolute;
		background-color: black;
		height: 4px;
		width: 30px;
	}
}

.previewImg {
	width: 100%;
	max-width: 250px;
	object-fit: cover;
	border-radius: 10px;
	border: 5px solid black;
	box-sizing: border-box;
	margin-top: 10px;
}

.submitSuccess {
	background: green;
}

.submitError {
	color: red;
}

.projectList {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 20px;
	background: var(--bg-shift-secondary);
	padding: 20px;
	border: 5px solid black;
	border-radius: 10px;
}

.project {
	cursor: pointer;
	background: var(--bg-shift-alt);
	padding: 5px 10px;
	border-radius: 5px;
}

.adminProjectItem {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 5px;
}

.adminProjectName {}

.adminProjectMembers {}

.adminProjectItemActive {}
