version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: FP4_DB
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: FP4
      MYSQL_DATABASE: FP4_DB
      MYSQL_USER: FP4
      MYSQL_PASSWORD: FP4
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data:
