.ctx {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;

	h1 {
		margin: 0;
	}

	> h2 {
		margin-top: 0;
		margin-bottom: 40px;
		font-size: 30px;
	}
}

.projectsGrid {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.projectCard {
		cursor: pointer;
		border-radius: 10px;
		border: 5px solid var(--border-primary);
		background: var(--shift-orange);
		padding: 10px;
		box-shadow:
			5px 5px 0 1px var(--shadow-primary),
			7px 4px 0 4px var(--hl-secondary),
			0 0 0 5px var(--hl-secondary),
			4px 7px 0 4px var(--hl-secondary),
			7px 7px 0 4px var(--hl-secondary);
		box-sizing: border-box;
		overflow: hidden;

		.imageWrapper {
			width: 100%;
			aspect-ratio: 16 / 9;
			border-radius: 10px;
			border: 5px solid var(--border-primary);
			overflow: hidden;
			box-sizing: border-box;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		h2 {
			margin: 10px 0 0;
		}

		&:nth-child(1) {
			transform: rotate(-6deg);
		}

		&:nth-child(2) {
			transform: rotate(5deg);
		}

		&:nth-child(3) {
			transform: rotate(-6deg);
		}
	}
}

.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	padding: 20px;

	.modal {
		position: relative;
		display: flex;
		flex-direction: column;
		background: var(--shift-orange);
		border: 5px solid var(--border-primary);
		border-radius: 10px;
		width: 100%;
		padding: 10px 20px 20px 10px;
		box-shadow:
			5px 5px 0 1px var(--shadow-primary),
			7px 4px 0 4px var(--hl-secondary),
			0 0 0 5px var(--hl-secondary),
			4px 7px 0 4px var(--hl-secondary),
			7px 7px 0 4px var(--hl-secondary);
	}

	.modalImage {
		width: 100%;
		aspect-ratio: 16 / 9;
		border-radius: 10px;
		border: 5px solid black;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.modalDescription {
		margin: 20px 0;
	}
}

.closeButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	cursor: pointer;

	img {
		width: 100%;
	}
}
.voteButton {
	align-self: center;
}

.confirmWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.successContainer {
	justify-content: center;
	text-align: center;

	.redirectText {
		margin-top: 16px;
		letter-spacing: 1px;
	}
}

@media (min-width: 1024px) {
	.projectsGrid {
		flex-direction: row;
		gap: 40px;

		.projectCard {
			width: 33.33%;
            margin: 100px 10px;
		}
	}
    
	.modal {
		max-width: 750px;
	}
}
