/* general button styling */

.orange-button {
	background-color: var(--bg-shift-alt);
	border: 5px solid black;
	border-radius: 10px;
	font-size: 18px;
	margin-top: 20px;
	padding: 5px;
	box-shadow: 5px 5px 0 1px black;
	text-decoration: none;
	width: 70%;
	transition:
		transform 0.1s,
		box-shadow 0.1s;
	align-self: center;
}

.orange-button:active {
	transform: translateY(3px);
	box-shadow: 2px 2px 0 1px black;
}

.white-input {
	background-color: var(--bg-shift-secondary);
	border: 5px solid black;
	border-radius: 10px;
	color: black;
	font-size: 14pt;
	padding: 5px;
	text-decoration: none;
	width: 100%;
	transition:
		transform 0.1s,
		box-shadow 0.1s;
	align-self: center;
}
