footer {
	.ctx {
		display: flex;
		flex-direction: column;
	}

	small {
		text-align: center;
	}

	hr {
		color: var(--bg-shift-alt);
		margin-bottom: 15px;
		width: 100%;
	}

	.text-info {
		text-align: left;
	}

	.socialLinks {
		width: 100%;
		max-width: 1024px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
		align-self: center;
	}

	p {
		margin-bottom: 15px;
	}
}
