.form {
	display: flex;
	flex-direction: column;
	margin-top: var(--margin-between);
	gap: 10px;
	max-width: 600px;
	margin-inline: auto;

	button,
	select,
	textarea,
	input:not([type="file"]) {
		background-color: var(--bg-shift-secondary);
		border: 5px solid black;
		border-radius: 10px;
		color: var(--txt-shift-secondary);
		font-size: 16px;
		padding: 10px;
		text-decoration: none;
		transition:
			transform 0.1s,
			box-shadow 0.1s;
		width: 100%;
		box-sizing: border-box;

		option {
			color: black;
		}
	}

	button {
		width: fit-content;
		padding: 5px 10px;
	}

	textarea {
		resize: vertical;
		min-height: 150px;
	}

	input[type="file"] {
		border-radius: 10px;
		color: var(--txt-shift-secondary);
		border: 5px solid black;
		font-size: 14px;
		text-decoration: none;
		width: 100%;
		box-sizing: border-box;
	}

	input[type="file"]::file-selector-button {
		background-color: var(--bg-shift-alt);
		border-radius: 5px;
		padding: 10px;
		border: none;
	}

	button {
		background-color: var(--hl-primary);
		font-size: 15pt;
		box-shadow: 5px 5px 0 1px black;
		margin-left: var(--margin-small);
	}

	button:active {
		transform: translateY(3px);
		box-shadow: 2px 2px 0 1px black;
	}
}

.extraButton {
	margin-top: var(--margin-section);
	text-align: center;
}

*::placeholder {
	opacity: 0.7;
}
