form {
	display: flex;
	flex-direction: column;
	margin-top: var(--margin-between);
	max-width: 600px;
	margin-inline: auto;

	button,
	select,
	textarea,
	input:not([type="file"]) {
		background-color: var(--bg-shift-secondary);
		border: 5px solid black;
		border-radius: 10px;
		color: var(--txt-shift-secondary);
		font-size: 14px;
		padding: 10px;
		text-decoration: none;
		transition:
			transform 0.1s,
			box-shadow 0.1s;
		width: 100%;
		box-sizing: border-box;

		option {
			color: black;
		}
	}

	input[type="file"] {
		border-radius: 10px;
		color: var(--txt-shift-secondary);
		border: 5px solid black;
		font-size: 14px;
		text-decoration: none;
		width: 100%;
		box-sizing: border-box;
	}

	input[type="file"]::file-selector-button {
		background-color: var(--bg-shift-alt);
		border-radius: 5px;
		padding: 10px;
		border: none;
	}

	button {
		background-color: var(--hl-primary);
		font-size: 15pt;
		padding: 5px;
		box-shadow: 5px 5px 0 1px black;
		margin-left: var(--margin-small);
	}

	button:active {
		transform: translateY(3px);
		box-shadow: 2px 2px 0 1px black;
	}
}

input::placeholder {
	color: var(--txt-shift-secondary);
}

@media screen and (min-width: 1024px) {
	form {
		.emailWrap {
			width: 50%;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
		}
	}
}


.extraButton {
	margin-top: var(--margin-section);
	text-align: center;
}
