/* nav + hamburger css */
@import url(./nav.css);

header {
    padding-bottom: 3rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;

    a {
        width: fit-content;
    }

    .headerLogo {
        position: relative;
        z-index: 3;
        height: 100%;
    }
}