/* nav + hamburger css */
@import url(./nav.css);

header {
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 1rem 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 100px;

    a {
        width: fit-content;
    }

    .headerLogo {
        position: relative;
        z-index: 3;
        height: 100%;
    }
}