/* Everything layout goes here. margins, display grid/flex ideally too. Use your brain. */

html,
body {
	margin: 0;
}

.ctx {
	margin: auto;
	width: 85%;
}

.ctx-detail {
	margin: auto;
	width: 50%;
}

.xsMarginTop {
	margin-top: var(--spacing-xs);
}

footer {
	padding: var(--spacing-footer) 0;
}

.centered {
	display: flex;
	flex-direction: column;
	margin: auto;
	text-align: center;
	margin-top: 45dvh;
}

.gutter-s {
	gap: var(--spacing-s);
}

.flexSpaceBetween {
	display: flex;
	justify-content: space-between;
}

.section {
	margin: var(--margin-section) 0;
}

.section2 {
	margin: var(--margin-section) 0;
	background-color: var(--bg-shift-secondary);
}

.wrap {
	flex-direction: column;
	max-width: 85vw;
	width: 100%;
	margin: auto;
	text-align: center;
}
