/* Everything layout goes here. margins, display grid/flex ideally too. Use your brain. */

/* todo: this is a hotfix, not actually how it should be */
* {
	margin: 0;
}

.ctx {
	margin: auto;
	width: 85%;
}
