
/* TODO: fix styling of hamburger menu */

/* Code based on JoachimGautama's web2-course-project-front-end-JoachimGautama */
.nav {
  display: flex;
  align-items: flex-end;
  ul {
    list-style-type: none;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 18px;
    gap: 1rem;
    li {
      color: var(--txt-shift-secondary);
    }
    a{
      text-decoration: none;
    }
  }
}

.navItem {
  text-align: center;
  background-color: unset;
  padding: 5px 10px 0px;
  margin-bottom: 5px;
  color: var(--text-secondary); /*TODO: colour needs to be adjusted*/
  text-decoration: none;
}

.navItem.active {
  background-color: var(--primary-bg); /*TODO: adjust colours*/
  color: var(--text-primary);
  margin-bottom: unset;
  border-radius: 10px 10px 0px 0px;
}

#hamburgerNav,
#hamburgerNav + label {
  display: none;
}

/* lines */
.flexCtx{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;

  aspect-ratio: 1 / 1;
  width: 2rem;
  background-color: var(--bg-shift-alt);
  padding: .5rem;
  border-radius: 8px;
}

.line {
  width: 2rem;
  height: 5px;
  background-color: var(--bg-shift-secondary);
  transition: all 0.2s ease;
  border-radius: 0.2rem;
}

.l2 {
  margin: .4rem 0;
  width: 60%;
}

#hamburgerNav + label {
  cursor: pointer;
}

#hamburgerNav:checked + label > .flexCtx > .l1 {
  transform: translate(0, .85rem) rotate(45deg);
  margin: auto;
}

#hamburgerNav:checked + label > .flexCtx > .l2 {
  opacity: 0;
  transform: rotate(45deg);
}

#hamburgerNav:checked + label > .flexCtx > .l3 {
  transform: translate(0, -.75rem) rotate(-45deg);
  margin: auto;
}
/* responsiveness */

@media only screen and (max-width: 1024px) {
  #hamburgerNav + label {
    position: relative;
    display: block;
    z-index: 2;
  }

  ul {
    font-size: 32px;
  }

  ul:has(+ #hamburgerNav) {
    display: none;
  }

  ul:has(+ #hamburgerNav:checked) {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: var(--bg-shift-alt);
    margin: 0;
    z-index: 1;
    overflow: hidden;
    padding: 0;
    align-content: center;
    max-width: unset;
    .active {
      background-color: unset;
    }
  }
}
