/* typography styles */

* {
	font-family: monospace;
}

body {
	background-color: var(--bg-primary);
	color: var(--txt-primary);
}

#timer {
	font-weight: bold;
}

.xlarge {
	font-size: x-large;
}

sub {
	font-size: small;
}

p {
	font-size: large;
}
