/* everything typography, font sizes/weights/link styling/list styling/etc */
@import url("https://use.typekit.net/pei0pzi.css");
/* TODO: import futura properly */

* {
	font-family: "futura-pt", "Helvetica", "Arial", sans-serif;
	font-weight: medium;
}

h1 {
	font-weight: 700;
	font-size: 80px;
	text-transform: uppercase;
}

h2 {
	font-weight: bold;
	font-size: 36px;
	margin: 1rem 0;
}

h3 {
	font-weight: bold;
	font-size: 24px;
	margin: 1rem 0 0;
	text-transform: uppercase;
}

h4 {
	font-weight: bold;
	font-size: 18px;
}

p,
span {
	font-size: 18px;
}

small {
	font-size: 12px;
	margin: var(--margin-small);
}

a {
	color: var(--txt-shift-primary);
	font-weight: bold;
}

a:not([class]):hover {
	text-decoration: underline;
}

.xlarge {
	font-size: 24px;
}

.darkText {
	color: var(--txt-shift-secondary);

	a {
		color: var(--txt-shift-secondary);
	}
}

@media (min-width: 1024px) {
	small {
		font-size: 18px;
	}

	label,
	span,
	p,
	pre,
	li {
		font-size: 24px;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 44px;
	}
}

@media (max-width: 512px) {
	h1 {
		font-size: 32px;
	}
}
