.heroPers {
    background-image: url(/assets/heroContent/persHeroImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    img {
        width: 13rem;
    }
}

.newsSection {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 4rem auto;

    img {
       box-shadow:
			5px 5px 0 1px var(--shadow-primary),
			3px 3px 0 7px var(--hl-secondary);
		border: 5px solid var(--border-primary);
        border-radius: 1.5rem;
    }

    a img {
        box-shadow: none;
        border: none;
        border-radius: 0;
    }
}

.galleryLayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.flexRow{
    display: flex;
    flex-direction: row;
    div {
        max-width: 60%;
    }
}

@media (max-width: 900px) {
    .galleryLayout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 540px) {
    .galleryLayout {
        grid-template-columns: 1fr;
    }
}
.mediaSection {
    h3, h2, h1 {
        text-align: left;
    }
}