@import url(./cssComponents/header.css);
@import url(./cssComponents/footer.css);
/* files for variables */
@import url(./cssComponents/vars/colours.css);
@import url(./cssComponents/vars/distances.css);
/* everything typography, font sizes/weights/link styling/list styling/etc */
@import url(./cssComponents/typo.css);
/* Everything layout goes here. margins, display grid/flex ideally too. Use your brain. */
@import url(./cssComponents/layout.css);
/* button styling in here */
@import url(./cssComponents/buttons.css);
/* throbber css */
@import url(./cssComponents/throbber.css);
/* form css */
@import url(./cssComponents/form.css);

/* This file is for the main styles like using colours, adding stuff that doesn't belong to the other files */

.hidden {
	visibility: hidden;
	height: 0;
}



html,
body {
	touch-action: pan-y;
}

html::before {
	content: '';
	position: fixed;
	inset: 0;
	z-index: -2;
	background-image: url(/assets/wallTextureWeb2.png);
	background-size: 105vh;
	background-color: var(--bg-shift-primary);
}

body::before {
	content: '';
	position: fixed;
	inset: 0;
	z-index: -2;
	background-image: url(/assets/iconsOverlay.svg);
	background-size: 5000px;
	pointer-events: none;
}

.altBg{
	position: relative;
	padding-bottom: 2rem;
	z-index: 0;
}

.altBg::before{
	content: '';
	position: absolute;
	background-color:var(--bg-shift-secondary);
	inset: 0;
	z-index: -3;
}

#root{
	overflow-x: clip;
}

