.heroContent {
	display: block;
	position: absolute;
	top: -20%;
	z-index: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}
}

.heroLayout {
	height: calc(50vh - 100px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem 7.5%;
	z-index: 1;
	align-items: center;
}

.heroTitle {
	margin: 0;
	font-size: clamp(52px, 7vw, 96px);
	line-height: 1.05;
	font-weight: bold;
	text-transform: uppercase;
}

.infoLine {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.locationIcon {
	width: clamp(60px, 7.5vw, 110px);
	height: auto;
	flex-shrink: 0;
	rotate: 20deg;

	padding-left: 35%;
}

.heroBtn {
	align-self: flex-end;
	margin-top: 350px;
}
