@import url(../../src/css/style.css);

body {
	min-height: 100dvh;
	display: flex;
	background-repeat: repeat;
	margin: 0;
}

.wrap {
	display: flex;
	flex-direction: column;
	max-width: 80vw;
	min-height: 90dvh;
	margin: auto;
	justify-content: space-between;
	text-align: center;
}

/* form could be exported to its own css file for easier maintenance */
form {
	display: flex;
	flex-direction: column;
	margin: 2rem 0;

	input,
	button {
		background-color: var(--bg-shift-primary);
		border: 0px;
		color: var(--txt-shift-primary);
	}

	input {
		border-radius: 5px 0 0 5px;
	}

	input[type="email"] {
		width: 95%;
		padding: 0.2rem 0.5rem;
	}

	/*button {
		border-radius: 10px 10px 10px 10px;
		padding: 0.2rem 0.2rem;
		width: 2rem;
		text-align: center;
	}*/

	button {
		background-color: var(--bg-shift-alt);
		border: 5px solid black;
		border-radius: 10px;
		font-size: 18pt;
		padding: 5px;
		margin-left: 5px;
		box-shadow: 5px 5px 0 1px black;
		text-decoration: none;
		width: 70%;
		transition:
			transform 0.1s,
			box-shadow 0.1s;
		align-self: center;
	}

	button:disabled {
		background-color: var(--btn-disabled-bg);
	}

	label {
		margin-bottom: var(--spacing-xs);
	}
}

input::placeholder {
	color: var(--txt-shift-secondary);
}

.emailWrap {
	display: flex;
	flex-direction: row;
}

.socialLinks {
	margin: auto 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.social {
	width: 3rem;
	margin: 0 1rem;
}

#heroLogo {
	height: 21rem;
	margin: -70px -95px -40px;
}

.rotatedText {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.heroText {
	display: flex;
	flex-direction: row;
}

.bsWrapper {
	height: max-content;
	margin-bottom: var(--spacing-s);
	transform: rotate(-14deg);
}

/* todo: standardise distances, use vars */
.topLeft {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 50px;
}

.topSpacer {
	margin-top: var(--spacing-top);
}

.orange-button {
	font-weight: bold;
	margin-bottom: 25px;
}

.timerDiv {
	margin-top: 75px;
}

span {
	font-size: 24pt;
}

.xlarge,
#hours,
#minutes,
#seconds {
	font-size: 24pt;
}

.txtLeft {
	text-align: left;
}
