footer {
	box-sizing: border-box;
	position: relative;
	z-index: 10;
	width: 100%;
	justify-self: center;
	background-color: var(--bg-shift-alt);
	padding: var(--spacing-footer);
	border-top: 5px solid var(--border-primary);
	border-bottom: none;
	box-shadow:
		0 0 0 13px var(--hl-secondary);

	margin-top: 3rem;

	.footerLogo {
		display: none;
	}

	.ctx {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.textInfo {
		text-align: left;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin-bottom: 10px;
			}

			li a {
				text-transform: uppercase;
				text-decoration: none;
			}
		}

		p {
			margin: 0;
			padding: 0;
			transform: translateY(-2px);
			text-align: left;
		}
	}

	.footerSection2 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 150px;

		a {
			transform: translateX(3px);
		}

		.socialLinks {
			display: flex;
			flex-direction: row;
			align-self: center;
			justify-content: center;
			gap: 0.5rem;
		}
	}

	* {
		color: var(--txt-shift-primary);
	}

	.footerCopyright {
		text-align: center;
	}
}

@media (min-width: 1024px) {
	footer {
		width: 85vw;
		transform: translateX(-5px);
		border: 5px solid var(--border-primary);
		border-bottom: none;
		border-radius: 30px 30px 0px 0px;
		box-shadow:
			5px 10px 0 5px var(--shadow-primary),
			10px 8px 0 13px var(--hl-secondary),
			0 0 0 13px var(--hl-secondary);

		.footerLogo {
			display: block;
			position: absolute;
			width: 20vw;
			top: -5.5vw;
			left: -3vw;

			img {
				width: 100%;
				height: auto;
			}
		}

		.textInfo {
			justify-content: flex-end;
			gap: 9rem;

			p {
				transform: translateY(0);
			}
		}

		.footerSection2 {
			flex-direction: row;

			a {
				transform: translateX(0);
			}

			.socialLinks {
				justify-content: flex-end;
				gap: 3rem;
			}
		}

		.footerCopyright {
			margin-bottom: -2rem;
		}
	}
}
