footer {
	.ctx {
		display: flex;
		flex-direction: column;
	}

	small {
		text-align: center;
	}

	hr {
		color: var(--txt-shift-primary);
		margin-bottom: 15px;
		width: 100%;
	}

	.textInfo {
		text-align: left;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		* {
			max-width: 45%;
		}
		ul{
			list-style: none;
			li a{
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}

	.socialLinks {
		width: 100%;
		max-width: 1024px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
		align-self: center;
	}

	p {
		margin-bottom: 15px;
	}

	.divider {
		border: 1px solid black;
	}

	* {
		color: var(--txt-shift-primary);
	}
}
