/* use recognisable names. Start with the main purpose of the var (like bg = background or hl = highlight) followed by a descriptor (primary for default colour, secondary for its alternative or descriptive of when it should be used */
:root {
	/* base colours */
	--shift-blue: #27becc;
	--shift-cream: #fbf8cd;
	--shift-orange: #fba927;

	/* background colours */
	--bg-shift-primary: var(--shift-blue);
	--bg-shift-secondary: var(--shift-cream);
	--bg-shift-alt: var(--shift-orange);

	/* text colours */
	--txt-shift-primary: black;
	--txt-shift-secondary: black;
	--txt-special: var(--shift-cream);

	/* highlight colours */
	--hl-primary: var(--bg-shift-alt);
	--hl-secondary: var(--bg-shift-secondary);

	/* border colours */
	--border-primary: black;

	/* shadow colours */
	--shadow-primary: var(--border-primary);
}



::selection {
    background: var(--shift-orange);
    color:  var(--txt-shift-primary);
}

::-moz-selection {
    background: var(--shift-orange);
    color: var(--txt-shift-primary);
}


/* 
Example how to use in other css files:
> import:
> > @import url(./cssComponents/colours.css);
> use vars:
> > color: var(--bg-primary);
> make vars transparent:
> > color-mix(in srgb, var(--bg-primary) [opacity 0-100]%, transparent)
*/
