/* use recognisable names. Start with the main purpose of the var (spacing/gap for example) followed by a descriptor (relative size of the distance like s/m/l for example) */
:root {
	--spacing-xs: 0.5rem;
	--spacing-s: 2rem;
	--spacing-m: 3rem;

	--spacing-top: var(--spacing-m);

	--margin-section: 35px;
	--margin-between: 25px;
	--margin-small: 5px;

	/* specifics */
	--spacing-heroWrapper: var(--spacing-s);
	--spacing-footer: 1.2rem;

	--shift-logo-height: 15rem;

	@media only screen and (min-width: 1024px) {
		--shift-logo-height: 25rem;
		--spacing-footer: var(--spacing-m);
	}

	@media only screen and (min-width: 1280px) {
		--shift-logo-height: 29rem;
	}
}

/* 
Example how to use in other css files:
> import:
> > @import url(./cssComponents/distances.css);
> use vars:
> > padding: var(--spacing-xs);
> recalculate vars for relative distances:
> > padding-right: calc(var(--spacing-xs) /3)
*/
