input {
	margin: 15px;
}

 .form-3de {
	margin-bottom: 50px;

	input[type="email"],
	input[type="password"],
	input[type="text"] {
		width: 40%;
	}
	.textWrap {
		display: flex;
		justify-content: center;
		font-size: 15pt;
	}

	.emailDiv {
		display: flex;
		justify-content: center;
		font-size: 15pt;
	}
}
