body.index {
    background-color: var(--bg-shift-secondary);
    outline: 6px solid var(--bg-shift-primary);
     outline-offset: -6px;
     color: var(--txt-shift-secondary);
     
}



.backButton {

    button {
    display: flex;
    max-width: 40%;

    }

    img {
        margin-right: 15px;
    }
}

.titleText {
    display: flex;
    flex-direction: column;
    gap: -4px
    ;
    
    h1 {
        margin: 0;
        margin-top: 25px;
    }

    .name {
        flex-wrap: wrap;
        max-width: 50%;
    }

    .subject {
        max-width: 50%;
        align-items: center;

        img {
            width: 30px;
        }
    }
    

    div {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
        width: 40px;
        
        }
    }
}

.imgDiv {
    img {
        width: 100%;
        outline: 6px solid var(--bg-shift-primary);

    }
}


.studentCardDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.studentCards {
    background-color: var(--bg-shift-primary);
    border: 5px solid black;
    border-radius: 10px;
    padding: 15px;
    flex: 1 1 300px;
    display: flex;
    box-sizing: border-box;
}

.picture {
    margin-right: 20px;

    img {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	border: 4px solid var(--txt-shift-primary);
	object-fit: cover;
    }
}

.studentInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.studentContact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    width: 100%;
    margin-top: auto;

    .icons {
        display: flex;
        gap: 16px;
        min-width: 40%;
        align-items: center;
    }
}


.magButton {

    button {
    display: flex;

    }

    img {
        margin-right: 15px;
        width: 25px;
    }
}


.videoHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    iframe {
        aspect-ratio: 16 / 9;
    }
}

@media (max-width: 640px) {
    .picture  {
        align-content: center;
        
        img {
        width: 80px;
        height: 80px;
        }
    }
    
    .magButton button {
        font-size: 10pt;

        img {
            width: 20px;
        }
    }

    .titleNames {
        flex-direction: column;
        justify-content: center;
    }

    .studentContact  {
        justify-content: center;
        gap: 8px;

        .icons {
            min-width: 60%;
    }
    }

    .videoHolder {

        iframe {
            width: auto;
        }
    }
    
}