@media (min-width: 769px) {
	.mobile {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.desktop {
		display: none !important;
	}
}

.heroContainer {
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
	background-image: url("/assets/heroContent/ComingSoonAwardBgImage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5vh;

	& > * {
		margin: 0 auto;
		width: 100%;
	}

	.landingTop {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		.awardImg {
			width: 350px;
			transform: rotate(-15deg);
		}

		.title {
			font-size: 5rem;
			font-weight: 800;
			text-shadow: 0 0 4px var(--txt-special);
		}
	}

	.landingBottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		box-sizing: border-box;
		max-width: 600px;

		div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
	}
}

:where(.landingBottom) button {
	box-shadow: 5px 5px 0 1px var(--shadow-primary);
}

@media (min-width: 769px) {
	.heroContainer {
		.landingBottom {
			background: var(--bg-shift-alt);
			border: 5px solid var(--border-primary);
			box-shadow: 5px 5px 0 1px var(--shadow-primary);
			border-radius: 10px;
			padding: 50px;
		}
	}
}

@media (max-width: 768px) {
	.heroContainer {
		height: fit-content;
		background: unset;
		padding-top: 116px;

		.landingTop {
			flex-direction: column;
			gap: 20px;

			.awardImg {
				width: 150px;
				transform: rotate(10deg);
			}

			.title {
				font-size: 2rem;
			}
		}

		.landingBottom {
			& > div {
				display: flex;
				flex-direction: column;
				gap: 20px;
				padding: 0 30px;

				span {
					font-weight: 500;
				}
			}
		}
	}
}

.awardContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 50px 0;
	position: relative;

	@media (min-width: 769px) {
		&::before {
			content: "";
			height: 25px;
			width: 100vw;
			position: absolute;
			top: 0;
			background-image: linear-gradient(
				to bottom,
				color-mix(in oklab, var(--bg-shift-secondary) 70%, transparent),
				transparent
			);
		}
	}

	.awardTop {
		display: flex;
		flex-direction: column;
		align-items: center;

		.awardImg {
			width: 150px;
		}

		span {
			font-size: 2rem;
			font-weight: 700;
		}
	}

	.awardBottom {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 100vw;
		margin: 0 auto;
		gap: 50px;
		padding: 0 50px;
		box-sizing: border-box;

		.awardCard {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			background: var(--bg-shift-alt);
			border: 5px solid var(--border-primary);
			box-shadow: 5px 5px 0 1px var(--shadow-primary);
			border-radius: 10px;
			padding: 20px;
			width: 100%;
			box-sizing: border-box;
			flex: 1 0 auto;
			max-width: 500px;

			.cardImg {
				height: 100px;
			}

			.cardTitle {
				font-size: 2rem;
				font-weight: 700;
			}

			.cardSubTitle {
				font-size: 0.75rem;
			}

			.cardDesc {
				margin-top: 1rem;
			}
		}
	}

	@media (max-width: 768px) {
		.awardTop {
			padding: 0 30px;
			text-align: center;

			.awardImg {
				width: 100px;
			}
		}

		.awardBottom {
			grid-template-columns: 1fr;
			padding: 0;
			width: calc(100vw - 40px);
		}
	}
}

.publicPrize {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--bg-shift-secondary);
	border: 5px solid var(--border-primary);
	box-shadow: 5px 5px 0 1px var(--shadow-primary);
	border-radius: 10px;
	padding: 20px;
	width: 100%;
	max-width: 85vw;
	box-sizing: border-box;
	margin: 0 auto 5rem;

	.voteImg {
		width: 100px;
	}

	.title {
		font-size: 2rem;
		font-weight: 700;
	}

	.subTitle {
	}

	.time {
		font-size: 2rem;
		font-weight: 700;
	}

	.awardImg {
		width: 300px;
		transform: rotate(-10deg);
	}

	button {
		margin-top: 2rem;
		display: flex;
		flex-direction: row;
		align-items: center;

		.arrowUp {
			height: 30px;
			margin-left: 10px;
		}
	}
}

@media (max-width: 768px) {
	.publicPrize {
		& > span {
			padding: 0 30px;
			text-align: center;
		}

		.subTitle {
			padding: 0 50px;
		}

		.awardImg {
			width: 200px;
		}

		button {
		}
	}
}
