.heroContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;

    .awardImg {
        width: 300px;
    }

    .title {
        font-size: 50px;
    }

    .landingInfo {
        background: var(--bg-shift-alt);
        border: 5px solid var(--border-primary);
        box-shadow: 5px 5px 0 1px var(--shadow-primary);
        border-radius: 10px;
        padding: 50px;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        div {
            display: flex;
            flex-direction: column;
        }
    }
}
