@import url("../../css/cssComponents/form.css");

.removeFile {
	width: min-content;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.emailDiv {
		display: flex;
		justify-content: center;
		font-size: 15pt;
	}

	textarea {
		display: flex;
		justify-content: center;
		font-size: 15pt;
	}
}

.part {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--bg-shift-secondary);
	border: 5px solid black;
	border-radius: 10px;
	text-align: start;

	h3,
	span,
	label {
		color: var(--txt-shift-secondary);
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.subtext {
	font-size: 14px;
}

/* Code used from [https://w3collective.com/preview-selected-img-file-input-js/]
Complete source in *README*
*/

#img-preview {
	display: none;
	border: 10px double var(--bg-shift-alt);
	margin: 30px;
}

#img-preview img {
	width: 100%;
	height: auto;
	display: block;
}

.addPerson {
	height: 30px;
	width: 30px;
	position: relative;

	.line {
		position: absolute;
		background-color: black;
		height: 4px;
		width: 30px;
	}
}

.file {
	display: flex;
	align-items: center;
	gap: 6px;
	background: var(--bg-shift-secondary);
	border: 5px solid black;
	border-radius: 10px;
	padding: 0 0 0 10px;

	.clear {
		box-shadow: none;
		border: unset;
		border-radius: 5px;
		padding: 5px 20px;
	}
}

.preview-img {
	width: 100%;
	max-width: 250px;
	object-fit: cover;
	border-radius: 10px;
	border: 5px solid black;
	box-sizing: border-box;
	margin-top: 10px;
}

.submit-success {
	background: green;
}

.submit-error {
	color: red;
}
